/*
.i-have-who-has{
   border: solid 1px black;
   padding: 2px;
   margin: 0 10px 0 0;
   position: relative;
   min-height: 250px;
}
    */
.i-have-who-has {
    clear:both;
}
.ihave:before {
  content: "I have";
}
.ihave {
  float: right;
  text-align: center;
  max-width: 250px;
  width: 100%;
}
.whohas:before {
  content: "Who has ";
}
.whohas {
  float: right;
  text-align: center;
  max-width: 250px;
  width: 100%;
  clear: right;
  margin-bottom: 40px;
} 
.whohas:after {
  content: "?";
}
.mascot {
  content: url(https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG);
  float: left;
  max-width: 250px;
  width: 250px;
  margin-top: 30px;
}

p, li {
    line-height: 135%;
    margin-bottom: 1em;
}

body {
    margin:0;
    padding:0;
    max-width: 500px;
    text-rendering: optimizelegibility;
    width: 50%;
    font-family: "Californian FB","Lucida Grande";
}

body > * {
    font-size: 150%;
}
